
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTeamLabel">Create or edit a Team</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.team.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.team.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.team.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.team.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamGroup">Team Group</label>
            <select class="form-control" name="teamGroup" ng-model="vm.team.teamGroup" id="field_teamGroup">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamPts">Team Pts</label>
            <input type="number" class="form-control" name="teamPts" id="field_teamPts"
                    ng-model="vm.team.teamPts"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamJ">Team J</label>
            <input type="number" class="form-control" name="teamJ" id="field_teamJ"
                    ng-model="vm.team.teamJ"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamG">Team G</label>
            <input type="number" class="form-control" name="teamG" id="field_teamG"
                    ng-model="vm.team.teamG"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamN">Team N</label>
            <input type="number" class="form-control" name="teamN" id="field_teamN"
                    ng-model="vm.team.teamN"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_teamP">Team P</label>
            <input type="number" class="form-control" name="teamP" id="field_teamP"
                    ng-model="vm.team.teamP"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
