<div ng-cloak>
    <div>
        <div class="col-md-4">
            <h3>Prochains Matchs</h3>
            <div ng-repeat="(date, value) in vm.nextMatches | groupBy:'dayDate'">
            <h4>{{date}}</h4>
            <table class="table">
                  <tr ng-repeat="m in value">
                      <td><span>{{m.team_1.name}}</span></td>
                      <td><span class="newflags {{m.team_1.code}}"></span></td>
                      <td><span><strong>{{m.hours}}</strong></span></td>
                      <td><span class="newflags {{m.team_2.code}}"></span></td>
                      <td><span>{{m.team_2.name}}</span> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Derniers résultats</h3>
            <div ng-repeat="(date, value) in vm.lastMatches | groupBy:'dayDate'">
                <h4>{{date}}</h4>
                <table class="table">
                    <tr ng-repeat="m in value">
                        <td><span>{{m.team_1.name}}</span></td>
                        <td><span class="newflags {{m.team_1.code}}"></span></td>
                        <td><span><strong>{{m.scoreTeam1}} - {{m.scoreTeam2}}</strong></span></td>
                        <td><span class="newflags {{m.team_2.code}}"></span></td>
                        <td><span>{{m.team_2.name}}</span> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Classement</h3>
            <table class="table">
                <tr ng-repeat="userScore in vm.topUserScores">
                    <td>{{userScore.user.login}}</td>
                    <td>{{userScore.score}}</td>
                </tr>
            </table>
        </div>

    </div>

    <div style="clear:both;"></div>

    <div id="tree" ng-show="vm.showTree" style="display:flex;justify-content: space-around;">
        <div id="eigtht" style="height: 300px; display:flex;flex-direction: column;justify-content: space-around;">
            <div ng-repeat="eighthMatch in vm.eighth">
                <div style="width:200px;">
                    <span class="newflags {{eighthMatch.team_1.code}}"></span><span>{{eighthMatch.team_1.name}}</span>
                </div>
                <div style="width:200px;">
                    <span class="newflags {{eighthMatch.team_2.code}}"></span><span>{{eighthMatch.team_2.name}}</span>
                </div>
            </div>
        </div>
        <div id="fourth" style="height: 300px; display:flex;flex-direction: column;justify-content: space-around;">
            <div ng-repeat="fourthMatch in vm.fourth">
                <div style="width:200px;">
                    <span class="newflags {{fourthMatch.team_1.code}}"></span><span>{{fourthMatch.team_1.name}}</span>
                </div>
                <div style="width:200px;">
                    <span class="newflags {{fourthMatch.team_2.code}}"></span><span>{{fourthMatch.team_2.name}}</span>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-4" ng-repeat="(key, value) in vm.teams | groupBy: 'teamGroup'">
    <h3>Group {{key}}</h3>
    <table class="table">
        <thead>
        <tr>
            <th><span>Equipe</span></th>
            <th><span>Pts</span></th>
            <th><span>J.</span></th>
            <th><span>G.</span></th>
            <th><span>N.</span></th>
            <th><span>P.</span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="team in value | orderBy : '-teamPts'">
            <td><span class="newflags {{team.code}}" style="margin-right:5px;"></span><span>{{team.name}}</span></td>
            <td><span>{{team.teamPts}}</span></td>
            <td><span>{{team.teamJ}}</span></td>
            <td><span>{{team.teamG}}</span></td>
            <td><span>{{team.teamN}}</span></td>
            <td><span>{{team.teamP}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="clear:both;"></div>
</div>
