/* sprite 24px */

.newflags { display: inline-block;*display:inline; *zoom:1; background: url(../images/flags.png) no-repeat; width: 24px; height: 14px; background-size: 392px 240px;}
.newflags-mini { display: inline-block; *display:inline; *zoom:1; background: url(../images/flags-mini.png) no-repeat; width: 14px; height: 8px;  background-size: 224px 135px; vertical-align: middle;position: relative;top: -1px;}

.newflags-mini.AAA { background-position: -1px -0px; }
.newflags-mini.AFG { background-position: -16px -0px; }
.newflags-mini.AFS { background-position: -31px -0px; }
.newflags-mini.RSA { background-position: -31px -0px; }
.newflags-mini.AGO { background-position: -46px -0px; }
.newflags-mini.ALB { background-position: -61px -0px; }
.newflags-mini.ALG { background-position: -76px -0px; }
.newflags-mini.ALL { background-position: -91px -0px; }
.newflags-mini.AND { background-position: -106px -0px; }
.newflags-mini.ANG { background-position: -121px -0px; }
.newflags-mini.ANT { background-position: -136px -0px; }
.newflags-mini.ARG { background-position: -151px -0px; }
.newflags-mini.ARM { background-position: -166px -0px; }
.newflags-mini.ARS { background-position: -181px -0px; }
.newflags-mini.AUS { background-position: -196px -0px; }
.newflags-mini.AUT { background-position: -1px -9px; }
.newflags-mini.AZE { background-position: -16px -9px; }
.newflags-mini.BAH { background-position: -31px -9px; }
.newflags-mini.BAN { background-position: -46px -9px; }
.newflags-mini.BAR { background-position: -61px -9px; }
.newflags-mini.BEL { background-position: -76px -9px; }
.newflags-mini.BEN { background-position: -91px -9px; }
.newflags-mini.BLR { background-position: -106px -9px; }
.newflags-mini.BLZ { background-position: -121px -9px; }
.newflags-mini.BOL { background-position: -136px -9px; }
.newflags-mini.BOS { background-position: -151px -9px; }
.newflags-mini.BOT { background-position: -166px -9px; }
.newflags-mini.BRE { background-position: -181px -9px; }
.newflags-mini.BRN { background-position: -196px -9px; }
.newflags-mini.BRU { background-position: -1px -18px; }
.newflags-mini.BUF { background-position: -16px -18px; }
.newflags-mini.BUL { background-position: -31px -18px; }
.newflags-mini.BUR { background-position: -46px -18px; }
.newflags-mini.CAB { background-position: -61px -18px; }
.newflags-mini.CAM { background-position: -76px -18px; }
.newflags-mini.CAN { background-position: -91px -18px; }
.newflags-mini.CDN { background-position: -106px -18px; }
.newflags-mini.CDS { background-position: -121px -18px; }
.newflags-mini.CEI { background-position: -136px -18px; }
.newflags-mini.CHL { background-position: -151px -18px; }
.newflags-mini.CHN { background-position: -166px -18px; }
.newflags-mini.CHY { background-position: -181px -18px; }
.newflags-mini.CIV { background-position: -196px -18px; }
.newflags-mini.COL { background-position: -1px -27px; }
.newflags-mini.COM { background-position: -16px -27px; }
.newflags-mini.CPV { background-position: -31px -27px; }
.newflags-mini.CRI { background-position: -46px -27px; }
.newflags-mini.CRO { background-position: -61px -27px; }
.newflags-mini.CUB { background-position: -76px -27px; }
.newflags-mini.DAN { background-position: -91px -27px; }
.newflags-mini.DJI { background-position: -106px -27px; }
.newflags-mini.DOM { background-position: -121px -27px; }
.newflags-mini.EAU { background-position: -136px -27px; }
.newflags-mini.ECO { background-position: -76px -126px; }
.newflags-mini.EGY { background-position: -166px -27px; }
.newflags-mini.EQU { background-position: -181px -27px; }
.newflags-mini.ERY { background-position: -196px -27px; }
.newflags-mini.ESP { background-position: -1px -36px; }
.newflags-mini.EST { background-position: -16px -36px; }
.newflags-mini.ETH { background-position: -31px -36px; }
.newflags-mini.FID { background-position: -46px -36px; }
.newflags-mini.FIN { background-position: -61px -36px; }
.newflags-mini.FRA { background-position: -76px -36px; }
.newflags-mini.GAB { background-position: -91px -36px; }
.newflags-mini.GAL { background-position: -91px -126px; }
.newflags-mini.GAM { background-position: -121px -36px; }
.newflags-mini.GBR { background-position: -136px -36px; }
.newflags-mini.GEO { background-position: -151px -36px; }
.newflags-mini.GEQ, .newflags-mini.GEC { background-position: -166px -36px; }
.newflags-mini.GHA { background-position: -181px -36px; }
.newflags-mini.GRD { background-position: -196px -36px; }
.newflags-mini.GRE { background-position: -1px -45px; }
.newflags-mini.GUA { background-position: -16px -45px; }
.newflags-mini.GUB { background-position: -31px -45px; }
.newflags-mini.GUI { background-position: -46px -45px; }
.newflags-mini.GUY { background-position: -61px -45px; }
.newflags-mini.HAI { background-position: -76px -45px; }
.newflags-mini.HND { background-position: -91px -45px; }
.newflags-mini.HOL { background-position: -106px -45px; }
.newflags-mini.HON { background-position: -121px -45px; }
.newflags-mini.ILN { background-position: -107px -126px; }
.newflags-mini.IND { background-position: -151px -45px; }
.newflags-mini.INO { background-position: -166px -45px; }
.newflags-mini.IRL { background-position: -181px -45px; }
.newflags-mini.IRN { background-position: -196px -45px; }
.newflags-mini.IRQ { background-position: -1px -54px; }
.newflags-mini.ISL { background-position: -16px -54px; }
.newflags-mini.ISR { background-position: -31px -54px; }
.newflags-mini.ITA { background-position: -46px -54px; }
.newflags-mini.JAM { background-position: -61px -54px; }
.newflags-mini.JAP { background-position: -76px -54px; }
.newflags-mini.JOR { background-position: -91px -54px; }
.newflags-mini.KAZ { background-position: -106px -54px; }
.newflags-mini.KEN { background-position: -121px -54px; }
.newflags-mini.KIB { background-position: -136px -54px; }
.newflags-mini.KIR { background-position: -151px -54px; }
.newflags-mini.KOS { background-position: -166px -54px; }
.newflags-mini.KOW { background-position: -181px -54px; }
.newflags-mini.LAO { background-position: -196px -54px; }
.newflags-mini.LBR { background-position: -1px -63px; }
.newflags-mini.LBY { background-position: -16px -63px; }
.newflags-mini.LES { background-position: -31px -63px; }
.newflags-mini.LET { background-position: -46px -63px; }
.newflags-mini.LIB { background-position: -61px -63px; }
.newflags-mini.LIE { background-position: -76px -63px; }
.newflags-mini.LIT { background-position: -91px -63px; }
.newflags-mini.LUX { background-position: -106px -63px; }
.newflags-mini.MAC { background-position: -121px -63px; }
.newflags-mini.MCD { background-position: -121px -63px; }
.newflags-mini.MAD { background-position: -136px -63px; }
.newflags-mini.MAL { background-position: -151px -63px; }
.newflags-mini.MAR { background-position: -166px -63px; }
.newflags-mini.MAU { background-position: -181px -63px; }
.newflags-mini.MCO { background-position: -196px -63px; }
.newflags-mini.MDI { background-position: -1px -72px; }
.newflags-mini.MEX { background-position: -16px -72px; }
.newflags-mini.MGL { background-position: -31px -72px; }
.newflags-mini.MHL { background-position: -46px -72px; }
.newflags-mini.MIC { background-position: -61px -72px; }
.newflags-mini.MLI { background-position: -76px -72px; }
.newflags-mini.MLT { background-position: -91px -72px; }
.newflags-mini.MNE { background-position: -106px -72px; }
.newflags-mini.MOL { background-position: -121px -72px; }
.newflags-mini.MOZ { background-position: -136px -72px; }
.newflags-mini.MRI { background-position: -151px -72px; }
.newflags-mini.MWI { background-position: -166px -72px; }
.newflags-mini.MYA { background-position: -181px -72px; }
.newflags-mini.NAM { background-position: -196px -72px; }
.newflags-mini.NAU { background-position: -1px -81px; }
.newflags-mini.NEP { background-position: -16px -81px; }
.newflags-mini.NGA { background-position: -31px -81px; }
.newflags-mini.NIC { background-position: -46px -81px; }
.newflags-mini.NIG { background-position: -61px -81px; }
.newflags-mini.NOR { background-position: -76px -81px; }
.newflags-mini.NZL { background-position: -91px -81px; }
.newflags-mini.NZE { background-position: -91px -81px; }
.newflags-mini.OMN { background-position: -106px -81px; }
.newflags-mini.OUG { background-position: -121px -81px; }
.newflags-mini.OUZ { background-position: -136px -81px; }
.newflags-mini.PAK { background-position: -151px -81px; }
.newflags-mini.PAN { background-position: -166px -81px; }
.newflags-mini.PAR { background-position: -181px -81px; }
.newflags-mini.PER { background-position: -196px -81px; }
.newflags-mini.PHI { background-position: -1px -90px; }
.newflags-mini.PLW { background-position: -16px -90px; }
.newflags-mini.PNG { background-position: -31px -90px; }
.newflags-mini.POL { background-position: -46px -90px; }
.newflags-mini.POR { background-position: -61px -90px; }

.newflags-mini.PRT { background-position: -61px -126px; }

.newflags-mini.QAT { background-position: -76px -90px; }
.newflags-mini.RCA { background-position: -91px -90px; }
.newflags-mini.RDC { background-position: -106px -90px; }
.newflags-mini.RDO { background-position: -121px -90px; }
.newflags-mini.ROU { background-position: -136px -90px; }
.newflags-mini.RTC { background-position: -151px -90px; }
.newflags-mini.RUS { background-position: -166px -90px; }
.newflags-mini.RWA { background-position: -181px -90px; }
.newflags-mini.SAL { background-position: -196px -90px; }
.newflags-mini.SAM { background-position: -1px -99px; }
.newflags-mini.SAN { background-position: -16px -99px; }
.newflags-mini.SEM { background-position: -31px -99px; }
.newflags-mini.SEN { background-position: -46px -99px; }
.newflags-mini.SER { background-position: -61px -99px; }
.newflags-mini.SEY { background-position: -76px -99px; }
.newflags-mini.SIE { background-position: -91px -99px; }
.newflags-mini.SIN { background-position: -106px -99px; }
.newflags-mini.SKN { background-position: -121px -99px; }
.newflags-mini.SLM { background-position: -136px -99px; }
.newflags-mini.SLQ { background-position: -151px -99px; }
.newflags-mini.SLU { background-position: -166px -99px; }
.newflags-mini.SLV { background-position: -181px -99px; }
.newflags-mini.SLN { background-position: -181px -99px; }
.newflags-mini.SOM { background-position: -196px -99px; }
.newflags-mini.SOU { background-position: -1px -108px; }
.newflags-mini.SRI { background-position: -16px -108px; }
.newflags-mini.STP { background-position: -31px -108px; }
.newflags-mini.SUE { background-position: -46px -108px; }
.newflags-mini.SUI { background-position: -61px -108px; }
.newflags-mini.SUR { background-position: -76px -108px; }
.newflags-mini.SVG { background-position: -91px -108px; }
.newflags-mini.SWA { background-position: -106px -108px; }
.newflags-mini.SYR { background-position: -121px -108px; }
.newflags-mini.TAI { background-position: -136px -108px; }
.newflags-mini.TAN { background-position: -151px -108px; }
.newflags-mini.TCA { background-position: -166px -108px; }
.newflags-mini.THA { background-position: -181px -108px; }
.newflags-mini.TIM { background-position: -196px -108px; }
.newflags-mini.TJK { background-position: -1px -117px; }
.newflags-mini.TOG { background-position: -16px -117px; }
.newflags-mini.TON { background-position: -31px -117px; }
.newflags-mini.TRI { background-position: -46px -117px; }
.newflags-mini.TUK { background-position: -61px -117px; }
.newflags-mini.TUN { background-position: -76px -117px; }
.newflags-mini.TUR { background-position: -91px -117px; }
.newflags-mini.TUV { background-position: -106px -117px; }
.newflags-mini.UKR { background-position: -121px -117px; }
.newflags-mini.URS { background-position: -136px -117px; }
.newflags-mini.URU { background-position: -151px -117px; }
.newflags-mini.USA { background-position: -166px -117px; }
.newflags-mini.VAN { background-position: -181px -117px; }
.newflags-mini.VEN { background-position: -196px -117px; }
.newflags-mini.VIE { background-position: -1px -126px; }
.newflags-mini.YEM { background-position: -16px -126px; }
.newflags-mini.ZAM { background-position: -31px -126px; }
.newflags-mini.ZIM { background-position: -46px -126px; }

.newflags.AAA { background-position: -2px -0px;  }
.newflags.AFG { background-position: -28px -0px;  }
.newflags.AFS { background-position: -54px -0px;  }
.newflags.RSA { background-position: -54px -0px;  }
.newflags.AGO { background-position: -80px -0px;  }
.newflags.ALB { background-position: -106px -0px;  }
.newflags.ALG { background-position: -132px -0px;  }
.newflags.ALL { background-position: -158px -0px;  }
.newflags.AND { background-position: -184px -0px;  }
.newflags.ANG { background-position: -210px -0px;  }
.newflags.ANT { background-position: -236px -0px;  }
.newflags.ARG { background-position: -262px -0px;  }
.newflags.ARM { background-position: -288px -0px;  }
.newflags.ARS { background-position: -314px -0px;  }
.newflags.AUS { background-position: -340px -0px;  }
.newflags.AUT { background-position: -2px -16px;  }
.newflags.AZE { background-position: -28px -16px;  }
.newflags.BAH { background-position: -54px -16px;  }
.newflags.BAN { background-position: -80px -16px;  }
.newflags.BAR { background-position: -106px -16px;  }
.newflags.BEL { background-position: -132px -16px;  }
.newflags.BEN { background-position: -158px -16px;  }
.newflags.BLR { background-position: -184px -16px;  }
.newflags.BLZ { background-position: -210px -16px;  }
.newflags.BOL { background-position: -236px -16px;  }
.newflags.BOS { background-position: -262px -16px;  }
.newflags.BOT { background-position: -288px -16px;  }
.newflags.BRE { background-position: -314px -16px;  }
.newflags.BRN { background-position: -340px -16px;  }
.newflags.BRU { background-position: -2px -32px;  }
.newflags.BUF { background-position: -28px -32px;  }
.newflags.BUL { background-position: -54px -32px;  }
.newflags.BUR { background-position: -80px -32px;  }
.newflags.CAB { background-position: -106px -32px;  }
.newflags.CAM { background-position: -132px -32px;  }
.newflags.CAN { background-position: -158px -32px;  }
.newflags.CDN { background-position: -184px -32px;  }
.newflags.CDS { background-position: -210px -32px;  }
.newflags.CEI { background-position: -236px -32px;  }
.newflags.CHL { background-position: -262px -32px;  }
.newflags.CHN { background-position: -288px -32px;  }
.newflags.CHY { background-position: -314px -32px;  }
.newflags.CIV { background-position: -340px -32px;  }
.newflags.COL { background-position: -2px -48px;  }
.newflags.COM { background-position: -28px -48px;  }
.newflags.CPV { background-position: -54px -48px;  }
.newflags.CRI { background-position: -80px -48px;  }
.newflags.CRO { background-position: -106px -48px;  }
.newflags.CUB { background-position: -132px -48px;  }
.newflags.DAN { background-position: -158px -48px;  }
.newflags.DJI { background-position: -184px -48px;  }
.newflags.DOM { background-position: -210px -48px;  }
.newflags.EAU { background-position: -236px -48px;  }
.newflags.ECO { background-position: -132px -224px; }
.newflags.EGY { background-position: -288px -48px;  }
.newflags.EQU { background-position: -314px -48px;  }
.newflags.ERY { background-position: -340px -48px;  }
.newflags.ESP { background-position: -2px -64px;  }
.newflags.EST { background-position: -28px -64px;  }
.newflags.ETH { background-position: -54px -64px;  }
.newflags.FID { background-position: -80px -64px;  }
.newflags.FIN { background-position: -106px -64px;  }
.newflags.FRA { background-position: -132px -64px;  }
.newflags.GAB { background-position: -158px -64px;  }
.newflags.GAL { background-position: -158px -224px; }
.newflags.GAM { background-position: -210px -64px;  }
.newflags.GBR { background-position: -236px -64px;  }
.newflags.GEO { background-position: -262px -64px;  }
.newflags.GEQ, .newflags.GEC { background-position: -288px -64px;  }
.newflags.GHA { background-position: -314px -64px;  }
.newflags.GRD { background-position: -340px -64px;  }
.newflags.GRE { background-position: -2px -80px;  }
.newflags.GUA { background-position: -28px -80px;  }
.newflags.GUB { background-position: -54px -80px;  }
.newflags.GUI { background-position: -80px -80px;  }
.newflags.GUY { background-position: -106px -80px;  }
.newflags.HAI { background-position: -132px -80px;  }
.newflags.HND { background-position: -158px -80px;  }
.newflags.HOL { background-position: -184px -80px;  }
.newflags.HON { background-position: -210px -80px;  }
.newflags.ILN { background-position: -182px -224px;  }
.newflags.IND { background-position: -262px -80px;  }
.newflags.INO { background-position: -288px -80px;  }
.newflags.IRL { background-position: -314px -80px;  }
.newflags.IRN { background-position: -340px -80px;  }
.newflags.IRQ { background-position: -2px -96px;  }
.newflags.ISL { background-position: -28px -96px;  }
.newflags.ISR { background-position: -54px -96px;  }
.newflags.ITA { background-position: -80px -96px;  }
.newflags.JAM { background-position: -106px -96px;  }
.newflags.JAP { background-position: -132px -96px;  }
.newflags.JOR { background-position: -158px -96px;  }
.newflags.KAZ { background-position: -184px -96px;  }
.newflags.KEN { background-position: -210px -96px;  }
.newflags.KIB { background-position: -236px -96px;  }
.newflags.KIR { background-position: -262px -96px;  }
.newflags.KOS { background-position: -288px -96px;  }
.newflags.KOW { background-position: -314px -96px;  }
.newflags.LAO { background-position: -340px -96px;  }
.newflags.LBR { background-position: -2px -112px;  }
.newflags.LBY { background-position: -28px -112px;  }
.newflags.LES { background-position: -54px -112px;  }
.newflags.LET { background-position: -80px -112px;  }
.newflags.LIB { background-position: -106px -112px;  }
.newflags.LIE { background-position: -132px -112px;  }
.newflags.LIT { background-position: -158px -112px;  }
.newflags.LUX { background-position: -184px -112px;  }
.newflags.MAC { background-position: -210px -112px;  }
.newflags.MCD { background-position: -210px -112px;  }
.newflags.MAD { background-position: -236px -112px;  }
.newflags.MAL { background-position: -262px -112px;  }
.newflags.MAR { background-position: -288px -112px;  }
.newflags.MAU { background-position: -314px -112px;  }
.newflags.MCO { background-position: -340px -112px;  }
.newflags.MDI { background-position: -2px -128px;  }
.newflags.MEX { background-position: -28px -128px;  }
.newflags.MGL { background-position: -54px -128px;  }
.newflags.MHL { background-position: -80px -128px;  }
.newflags.MIC { background-position: -106px -128px;  }
.newflags.MLI { background-position: -132px -128px;  }
.newflags.MLT { background-position: -158px -128px;  }
.newflags.MNE { background-position: -184px -128px;  }
.newflags.MOL { background-position: -210px -128px;  }
.newflags.MOZ { background-position: -236px -128px;  }
.newflags.MRI { background-position: -262px -128px;  }
.newflags.MWI { background-position: -288px -128px;  }
.newflags.MYA { background-position: -314px -128px;  }
.newflags.NAM { background-position: -340px -128px;  }
.newflags.NAU { background-position: -2px -144px;  }
.newflags.NEP { background-position: -28px -144px;  }
.newflags.NGA { background-position: -54px -144px;  }
.newflags.NIC { background-position: -80px -144px;  }
.newflags.NIG { background-position: -106px -144px;  }
.newflags.NOR { background-position: -132px -144px;  }
.newflags.NZL { background-position: -158px -144px;  }
.newflags.NZE { background-position: -158px -144px;  }
.newflags.OMN { background-position: -184px -144px;  }
.newflags.OUG { background-position: -210px -144px;  }
.newflags.OUZ { background-position: -236px -144px;  }
.newflags.PAK { background-position: -262px -144px;  }
.newflags.PAN { background-position: -288px -144px;  }
.newflags.PAR { background-position: -314px -144px;  }
.newflags.PER { background-position: -340px -144px;  }
.newflags.PHI { background-position: -2px -160px;  }
.newflags.PLW { background-position: -28px -160px;  }
.newflags.PNG { background-position: -54px -160px;  }
.newflags.POL { background-position: -80px -160px;  }
.newflags.POR { background-position: -106px -160px;  }

.newflags.PRT { background-position: -106px -224px; }

.newflags.QAT { background-position: -132px -160px;  }
.newflags.RCA { background-position: -158px -160px;  }
.newflags.RDC { background-position: -184px -160px;  }
.newflags.RDO { background-position: -210px -160px;  }
.newflags.ROU { background-position: -236px -160px;  }
.newflags.RTC { background-position: -262px -160px;  }
.newflags.RUS { background-position: -288px -160px;  }
.newflags.RWA { background-position: -314px -160px;  }
.newflags.SAL { background-position: -340px -160px;  }
.newflags.SAM { background-position: -2px -176px;  }
.newflags.SAN { background-position: -28px -176px;  }
.newflags.SEM { background-position: -54px -176px;  }
.newflags.SEN { background-position: -80px -176px;  }
.newflags.SER,.newflags.SRB { background-position: -106px -176px;  }
.newflags.SEY { background-position: -132px -176px;  }
.newflags.SIE { background-position: -158px -176px;  }
.newflags.SIN { background-position: -184px -176px;  }
.newflags.SKN { background-position: -210px -176px;  }
.newflags.SLM { background-position: -236px -176px;  }
.newflags.SLQ { background-position: -262px -176px;  }
.newflags.SLU { background-position: -288px -176px;  }
.newflags.SLV { background-position: -314px -176px;  }
.newflags.SLN { background-position: -314px -176px;  }
.newflags.SOM { background-position: -340px -176px;  }
.newflags.SOU { background-position: -2px -192px;  }
.newflags.SRI { background-position: -28px -192px;  }
.newflags.STP { background-position: -54px -192px;  }
.newflags.SUE { background-position: -80px -192px;  }
.newflags.SUI { background-position: -106px -192px;  }
.newflags.SUR { background-position: -132px -192px;  }
.newflags.SVG { background-position: -158px -192px;  }
.newflags.SWA { background-position: -184px -192px;  }
.newflags.SYR { background-position: -210px -192px;  }
.newflags.TAI { background-position: -236px -192px;  }
.newflags.TAN { background-position: -262px -192px;  }
.newflags.TCA { background-position: -288px -192px;  }
.newflags.THA { background-position: -314px -192px;  }
.newflags.TIM { background-position: -340px -192px;  }
.newflags.TJK { background-position: -2px -208px;  }
.newflags.TOG { background-position: -28px -208px;  }
.newflags.TON { background-position: -54px -208px;  }
.newflags.TRI { background-position: -80px -208px;  }
.newflags.TUK { background-position: -106px -208px;  }
.newflags.TUN { background-position: -132px -208px;  }
.newflags.TUR { background-position: -158px -208px;  }
.newflags.TUV { background-position: -184px -208px;  }
.newflags.UKR { background-position: -210px -208px;  }
.newflags.URS { background-position: -236px -208px;  }
.newflags.URU { background-position: -262px -208px;  }
.newflags.USA { background-position: -288px -208px;  }
.newflags.VAN { background-position: -314px -208px;  }
.newflags.VEN { background-position: -340px -208px;  }
.newflags.VIE { background-position: -2px -224px;  }
.newflags.YEM { background-position: -28px -224px;  }
.newflags.ZAM { background-position: -54px -224px;  }
.newflags.ZIM { background-position: -80px -224px;  }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

	.newflags {background-image: url(../images/flags.png);}
  	.newflags-mini {background-image: url(../images/flags-mini.png);}
}
